.mahjong-tile {
  width: 18px;
  margin-right: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.9);
}

.mahjong-rotate {
  width: 18px;
  margin-right: 5px;
  margin-bottom: 3px;
  margin-left: 4px;
  vertical-align: bottom;
  transform: rotate(270deg);
  box-shadow: -1px 0 3px rgba(0, 0, 0, 0.9);
}
